@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

/* ::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background: #0000801c;
}


::-webkit-scrollbar-thumb {
  background: #00008060;
  height: 30px;
} */




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .navItem{
    @apply absolute overflow-y-scroll  top-[96px] left-0 px-9 py-5 max-sm:px-4  transform transition-transform duration-700 ease-in-out bg-white z-30 w-full 
  }
}

@media (prefers-color-scheme: light) {
  :root {

  }
}

